main {
  background-color: lightblue;
}

main, footer {
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

#title {
  text-align: center;
}

#img-div {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#img-div img {
  max-width: 100%;
  display: block;
}

#img-caption {
  margin: 15px 0;
}

#tribute-info {
  margin: 50px 0;
}

footer {
  text-align: center;
  background-color: rgb(143, 177, 240);
}